<div class="row">
  <!-- <h2>About Me</h2> -->
  <hr>
  <div class="col-sm-3">
    <div>
      <img src="static/img/profile.png" width="100%">
    </div>
  </div>
  <div class="col-sm-8">
    <p class="content"> 
    I am a first year Computer Science MS (specialization in Distributed Systems) student at <a target="_blank" href="https://www.indiana.edu/">Indiana University Bloomington</a>. 
    </p>

    <p class="content">
    Currently, I am working under Prof. Kurt Seiffert as an Associate Instructor. I also spent 3 years working as a Software Development Engineer, most recently working in the engineering team at <a target="_blank" href="https://www.casaone.com/">CasaOne</a>, <a target="_blank" href="https://www.kokonetworks.com/">KOKO Networks</a>.
    </p>
    
    <p class="content">If you have any questions / want to collaborate / discuss research, feel free to send me an email at <a href="mailto:pnalawa@iu.edu">pnalawa@iu.edu</a>.</p>

  </div>
</div>

