<div class="row">
    <h2>Experience</h2>
    <hr>

    <div class="row">
      <div class="col-sm-9">
        <h3 class="content_heading">Associate Instructor, <a target="_blank" href="https://luddy.indiana.edu/">Indiana University Bloomington</a></h3>
        <div class="content">
            <div class="ai-2021">
              <a class="bullet-points" href="" target="_blank">Fall 2021:</a> Mentored undergraduate students in C291A: C and Unix Programming Class taught by Prof. Kurt Seiffert.
            </div>
        </div>
      </div>
      <div class="col-sm-3" align="center">
        <img src="static/img/luddy.jpeg" width="120px">
        <p>(Dec 2018 - Jan 2020)</p>
        <br>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-9">
        <h3 class="content_heading">Senior Software Engineer, <a target="_blank" href="https://www.casaone.com/">CasaOne</a></h3>
        <p class="content"> 
          ● Implemented transaction outbox log trailing event-driven patterns with CDC via Debezium fetching MySQL logs which helped to ensure
          at-least once delivery of async events.
          ● Developed Cron Jobs to sync CasaOne products with Ad products which led to a 10x increase in user traffic and 3x orders.
          ● Developed various microservices like wishlist, signing, wallet microservice which had a major impact on the conversion of users.
          ● Developed credit microservice to eliminate 98% of fraudulent customers which helped in raising debt financing round from Credit
          Suisse worth 50M$.
          ● Volunteered in hiring activities by interviewing candidates for SWE roles.
          ● Developed signing and credit multi-tenant architecture microservices to support CasaOne and BureauOne businesses.
          ● Maintained 95% test coverage by following the Arrange Act Assert (AAA) pattern.
          ● Identified and reduced average API response time by refactoring legacy API using delegation and caching mechanisms. </p>
      </div>
      <div class="col-sm-3" align="center">
        <img src="static/img/casaone.jpeg" width="120px">
        <p>(Dec 2019 - May 2021)</p>
        <br>
      </div>
    </div>    

    <div class="row">
      <div class="col-sm-9">
        <h3 class="content_heading">Software Engineer, <a target="_blank" href="https://www.exadatum.com/">Exadatum</a></h3>
          <p class="content">
          ● Implemented backend of a travel application named Gypsy from the inception phase.
          </p>
      </div>
      <div class="col-sm-3" align="center">
        <img src="static/img/exadatum.png" width="120px">
        <p>(Mar 2019 - Sept 2019)</p>
        <br>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-9">
        <h3 class="content_heading">Software Engineer, <a target="_blank" href="https://www.kokonetworks.com">KOKO Networks</a></h3>
          <p class="content">
            ● Refactored the authentication logic of KOKO Core, which helped to fix some significant security bugs.
            ● Wrote functional, integration, and unit test cases, which led to an increase in test coverage from 70% to 80% and in turn helped
developers to ship code with confidence.
            ● Integrated ODOO ERP to KOKO Core with RabbitMQ and Celery to automate the ERP and CRM; this led to efficient ERP by eliminating
  manual tasks for KOKO associates.
            ● Versioned API’s to support myKOKO 2.0 application.
          </p>
      </div>
      <div class="col-sm-3" align="center">
        <img src="static/img/koko.png" width="120px">
        <p>(July 2018 - Mar 2019)</p>
        <br>
      </div>
    </div>
</div>
