<div class="row">
    <h2>Experience</h2>
    <hr>

    <div class="row">
      <div class="col-sm-9">
        <h3 class="content_heading">Associate Instructor <a target="_blank" href="https://codein.withgoogle.com/archive/"></a>, <a target="_blank" href="https://cloudcv.org/">CloudCV</a></h3>
        <div class="content">
            <div class="gci-2018">
              <a class="bullet-points" href="http://gci.cloudcv.org/2018/" target="_blank">2018:</a> Mentored high school students on open-source projects <a href="https://github.com/Cloud-CV/EvalAI" target="_blank">EvalAI</a> and <a href="https://github.com/Cloud-CV/Fabrik" target="_blank">Fabrik</a> for frontend, backend and DevOps tasks.
            </div>
            <div class="gci-2019">
              <a class="bullet-points" href="http://gci.cloudcv.org/" target="_blank">2019:</a> Led a team of <span class="fw-400">10+ mentors</span> to mentor high school students on open source projects <a href="https://evalai.cloudcv.org" target="_blank">EvalAI</a>, <a href="https://github.com/Cloud-CV/evalai-cli" target="_blank">EvalAI-CLI</a>, <a href="https://github.com/Cloud-CV/EvalAI-ngx" target="_blank">EvalAI-ngx</a>.
            </div>
        </div>
      </div>
      <div class="col-sm-3" align="center">
        <img src="static/img/gci.png" width="120px">
        <p>(Dec 2018 - Jan 2020)</p>
        <br>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-9">
        <h3 class="content_heading">Senior Software Engineer, <a target="_blank" href="https://www.casaone.com/">CasaOne</a></h3>
        <p class="content"> Work Experience </p>
      </div>
      <div class="col-sm-3" align="center">
        <img src="static/img/glance.png" width="120px">
        <p>(Dec 2020 - May 2021)</p>
        <br>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-9">
        <h3 class="content_heading">Software Engineer, <a target="_blank" href="https://www.casaone.com">CasaOne</a></h3>
        <p class="content">Work Experience.</p>
      </div>
      <div class="col-sm-3" align="center">
        <img src="static/img/inmobi.jpeg" width="120px">
        <p>(Dec 2019 - Dec 2020)</p>
        <br>
      </div>
    </div>

    

    <div class="row">
      <div class="col-sm-9">
        <h3 class="content_heading">Software Engineering Intern, <a target="_blank" href="https://cloudcv.org/">InterviewBit</a></h3>
          <p class="content">Worked on designing and implementing SQL programming language evaluation engine and dashboard for managing interview pipeline on the InterviewBit platform.            .</p>
      </div>
      <div class="col-sm-3" align="center">
        <img src="static/img/interviewbit.png" width="120px">
        <p>(Jan 2018 - June 2018)</p>
        <br>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-9">
        <h3 class="content_heading">System Engineering Intern, <a target="_blank" href="https://www.cc.gatech.edu/~parikh/vil.html">Nvidia</a></h3>
        <p class="content">Worked on designing automated test suites for NVIDIA’s video encoders.            .</p>
      </div>
      <div class="col-sm-3" align="center">
        <img src="static/img/nvidia.jpg" width="120px">
        <p>(Spring 2015)</p>
      </div>
    </div>

</div>
