<div class="row">
    <h2>Experience</h2>
    <hr>

    <div class="row">
      <div class="col-sm-9">
        <h3 class="content_heading">Associate Instructor, <a target="_blank" href="https://luddy.indiana.edu/">Indiana University Bloomington</a></h3>
        <div class="content">
            <div class="ai-2021">
              <a class="bullet-points" href="" target="_blank">Fall 2021:</a> Mentored undergraduate students in C291A: C and Unix Programming Class taught by Prof. Kurt Seiffert.
            </div>
        </div>
      </div>
      <div class="col-sm-3" align="center">
        <img src="static/img/luddy.jpeg" width="120px">
        <p>(Dec 2018 - Jan 2020)</p>
        <br>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-9">
        <h3 class="content_heading">Senior Software Engineer, <a target="_blank" href="https://www.casaone.com/">CasaOne</a></h3>
        <p class="content"> Work Experience </p>
      </div>
      <div class="col-sm-3" align="center">
        <img src="static/img/casaone.png" width="120px">
        <p>(Dec 2020 - May 2021)</p>
        <br>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-9">
        <h3 class="content_heading">Software Engineer, <a target="_blank" href="https://www.casaone.com">CasaOne</a></h3>
        <p class="content">Work Experience.</p>
      </div>
      <div class="col-sm-3" align="center">
        <img src="static/img/casaone.jpeg" width="120px">
        <p>(Dec 2019 - Dec 2020)</p>
        <br>
      </div>
    </div>

    

    <div class="row">
      <div class="col-sm-9">
        <h3 class="content_heading">Software Engineer, <a target="_blank" href="https://cloudcv.org/">Exadatum</a></h3>
          <p class="content">Worked on designing and implementing SQL programming language evaluation engine and dashboard for managing interview pipeline on the InterviewBit platform.            .</p>
      </div>
      <div class="col-sm-3" align="center">
        <img src="static/img/exadatum.png" width="120px">
        <p>(Jan 2018 - June 2018)</p>
        <br>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-9">
        <h3 class="content_heading">Software Engineer, <a target="_blank" href="https://www.kokonetworks.com">KOKO Networks</a></h3>
          <p class="content">Worked on designing and implementing SQL programming language evaluation engine and dashboard for managing interview pipeline on the InterviewBit platform.            .</p>
      </div>
      <div class="col-sm-3" align="center">
        <img src="static/img/koko.png" width="120px">
        <p>(Jan 2018 - June 2018)</p>
        <br>
      </div>
    </div>
</div>
