<div class="row">
  <h2>News</h2>
  <hr>
  <div class="col-sm-12">
    <ul id="news_list">
      <li class="newsElement">[Aug 2021] Joined Indiana University Bloomington for Masters in Computer Science.</li>
      <li class="newsElement">[Dec 2020] Joined as a Senior Software Engineer at CasaOne.</li>
      <li class="newsElement">[Dec 2019] Joined as a Software Engineer at CasaOne.</li>
      <li class="newsElement">[Mar 2019] Joined as a Software Engineer at Exadatum.</li>
      <li class="newsElement">[Jul 2018] Joined as a Software Engineer at KOKO Networks.</li>
      <li class="newsElement">[May 2018] Runners-up of CodeWars at MKSSS Cummins College, Pune, India</li>
      <li class="newsElement">[Feb 2018] Runners-up of Smart India Hackathon</li>
    </ul>
  </div>
</div>
<style type="text/css">
  .newsElement{
    padding-bottom: 5px;
  }
</style>
