<div class="row">
  <h2>Technical Skills</h2>
  <hr>
  <div>
    <p class="content_heading"><b>Languages</b></p>
    <p class="content">- Python, NodeJS, C++, C, Java</p>
  </div>
  <div>
    <p class="content_heading"><b>Backend Frameworks</b></p>
    <p class="content">- Django, Flask, ExpressJS</p>
  </div>
  <div>
    <p class="content_heading"><b>Databases</b></p>
    <p class="content">- MYSQL, POSTGRESQL, DynamoDB, MongoDB</p>
  </div>
  <div>
    <p class="content_heading"><b>Version Control</b></p>
    <p class="content">- Git</p>
  </div>
</div>
